@media (max-width: 750px) {
	header#intro h1 {
		font-size: 50px;

	}
}
@media (max-width: 650px) {
	nav {
		text-align: center;
	}
	a.logo {
		display: none;
	}
	header#intro h1 {
		font-size: 30px;
		padding-top: 200px;
	}
	ul.sitenav {
		float:none;
		margin-right: 0;
	}
	section#explore p {
		font-size: 12px;
	}
	section#projects p {
		font-size: 8px;
	}
	section#projects div.title {
		font-size: 18px;
	}
}
@media (max-width: 460px) {
	ul.sitenav li a {
		padding: 16px 10px;
		font-size: 14px;
	}
	header#intro {
		height: 400px;
	}
	header#intro h1 {
		padding-top: 100px;
	}
	section#explore h1 {
		font-size: 14px;
	}
	section#projects p {
		display: none;
	}
	section#projects {
		height: 350px;
	}
	section#projects div.main-feature {
		height: 300px;
	}
	section#projects div.side-feature {
		height: 150px;
	}
	section#contact h1 {
		font-size: 14px;
	}
	section#contact form > input,
	section#contact form > textarea {
		font-size: 8px;
	}
	footer#social {
		height: 100px;
	}
	footer#social img {
		height: 25px;
		width: 25px;
	} 
}
@media (max-width: 325px) {
		header#intro h1 {
		font-size: 20px;
	}
}
* {
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;;
}
body {
	line-height: 1;
	padding-top: 50px;
}
h1, h2, h3, h4, h5, h6 { 
	font-size: 100%;
	padding: .6em 0;
	margin: 0 15px;
}
ul, ol {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}
nav {
	background-color: #4ABDAC;
	min-height: 50px;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
}
.logo {
	background-color: #f63c3c;
	color: #fff;
	display: inline-block;
	margin-left: 10%;
	padding: 9px 10px 10px;
}
/*repositioning the ME to be centered*/
a.logo span:first-child {
	left: 6px;

}
.sitenav {
	display: inline-block;
	float: right;
	margin-right: 10%;
}
.sitenav ul {
	margin-bottom: 0;
}
.sitenav li {
	display: inline-block;
	margin-right: -4px;
}
.sitenav a {
	color: #fff;
	display: inline-block;;
	padding: 16px 20px;
}
.sitenav a:hover {
	border-bottom: 3px solid #fff;
	cursor: pointer;
	text-decoration: none;
}
#intro {
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	color: #fff;
	height: 800px;
	text-align: center;
}
#intro h1 {
	font-size: 80px;
	letter-spacing: 10px;
	margin: 0 auto;
	padding:15% 0 5%;
	width: 60%;
}
#intro button {
	background-color: #f63c3c;
	border: 1px solid #f63c3c;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
	margin-bottom: 3%;
}
#intro button:hover {
	padding: 15px 20px;
	transition: .2s;
}
/*anchor to makesure the Navbar doesn't overlap the sections*/
.anchor {
	display:block;
	height:50px;
	margin-top: -50px;
	visibility: hidden;
}
#explore {
	margin: 0 auto;
	padding: 3% 0;
	text-align: center;
	height: 250px;
	width: 60%;
}
#explore h1 {
	font-size: 30px;
	letter-spacing: 5px;
	line-height: 30px;
}
#explore p {
	font-size: 16px;
	text-align: left;
	margin-bottom: 20px;
}
#explore button {
	background-color: #f63c3c;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
}
#explore button:hover {
	padding: 15px 20px;
	transition: .2s;
}
#projects {
	color: #fff;
	height: 600px;
}
.main-feature {
	background-color: #f63c3c;
	float: left;
	height: 550px;
	width: 50%;
}
.main-feature div {
	font-size: 14px;
	margin: 35% 10% 3%;
}
.main-feature .title {
	font-size: 30px;
	letter-spacing: 2px;
	margin: 0 10%;
}
.main-feature p {
	font-size: 12px;
	line-height: 20px;
	margin: 0 10%;
	width: 45%;
}
.side-feature {
	background-color: #F7B733;
	float: right;
	height: 275px;
	width:50%;
}
.side-feature:nth-child(3) {
	background-color: #4ABDAC;
}
.side-feature .title {
	font-size: 30px;
	letter-spacing: 2px;
	margin: 15% 10% 0;
}
.side-feature p {
	font-size: 12px;
	line-height: 20px;
	margin: 0 10%;
	width: 45%;
}
.bottom-feature {
	background-color:#4ABDAC;
	clear: both;
	height: 30px;
	padding: 10px 0;
	text-align: center;
}
.bottom-feature a {
	color: #fff;
	font-size: 14px;
	margin: 0 auto;
	padding: 5px;
	width: 14%;
	top: 10px;
}
.bottom-feature i {
	display: block;
	padding-top: 2px;
}
#contact {
	text-align: center;
	height: 400px;
}
#contact h1 {
	font-size: 30px;
	padding: 30px 0;
}
#contact form > input,
#contact form > textarea {
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #f63c3c;
	color: black;
	display: block;
	font-size: 16px;
	margin: 20px auto;
	padding: 10px;
	width: 30%;
	resize: none;
}
#contact form button {
	background-color: #f63c3c;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	padding: 10px 15px;
}
#contact form button:hover {
	padding: 15px 20px;
	transition: .2s;
}
footer {
	height: 200px;
	text-align: center;
}
footer img {

	height: 50px;
	width: 50px;
	margin: 5% 0;
	padding: 0 25px;
}
